<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户后台管理</title>
    <link th:href="@{/login/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/login/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="col-md-3" style="background-color: #000000">
        <div>
            <button>系统首页</button>
        </div>
        <div>
            <button>个人中心</button>
        </div>
        <div>
            <button>评价信息管理</button>
        </div>
    </div>
    <div class="col-md-9 " style="background-color: white">
        <div class="col" style="background-color: green">

        </div>
        <div class="col" style="background-color: lightgreen">

        </div>
        <div class="col" style="background-color: #4d5154">

        </div>
    </div>
</div>
</body>
</html>